{% extends "doctor_base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-primary mt-2" role="alert">
                    {{message}}
                </div>
                {% endfor %}
            {% endif %}
            <div class="card my-5">
                <div class="card-header">Blog Writter</div>
                <div class="card-body">
                    <form action="{% url 'blog-editor' %}" method="post" enctype="multipart/form-data">
                        <div class="mb-2">
                            <label for="" class="small text-muted">Title</label>
                            <input type="text" name="title" id="title" class="form-control">
                        </div>
                        <div class="mb-2">
                            <label for="" class="small text-muted">Image</label>
                            <input type="file" name="image" id="image" class="form-control">
                        </div>
                        <div class="mb-2">
                            <label for="" class="small text-muted">Category</label>
                            <select name="category" id="category" class="form-select">
                                <option value="">Select Category</option>
                                {% for category in categories %}
                                    <option value="{{category.id}}">{{category.cat_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-2">
                            <label for="" class="small text-muted">Summary</label>
                            <textarea name="summary" id="summary" class="form-control"></textarea>
                        </div>
                        <div class="mb-2">
                            <label for="" class="small text-muted">Content</label>
                            <textarea name="content" id="content" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="mb-2">
                            <button type="submit" class="btn-success btn">Save as Draft</button>
                            {% csrf_token %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}